body {
  background-size: cover;
  background-position: center;
  background-image: url('images/background.jpg');
  display: table;
  margin: auto;
  height: 100%;
}

div, a {
  color: white;
}

a {
  margin-left: 0.2rem;
}

#main {
  display: none;
  padding: 1rem;
  vertical-align: middle;
}

#main.displayed {
  display: table-cell;
}

#column {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  line-height: 10.2rem;
}

.subtitle {
  font-family: 'Bitter', serif;
  font-size: 2rem;
  line-height: 2.2rem;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-top: 0.4rem;
}
